101-hospital-adf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "101-hospital-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/transformedPayer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "processed_payer.csv",
						"fileSystem": "processed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Procedures data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_http_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Patients data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Procedures data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_http_patients",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_patients",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Payers data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Patients data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_http_payers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_payers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Encounters data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Payers data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_http_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-21T20:00:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sql_procedures')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_processed_encounters_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_processesed_encounter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_processed_procedures_sql_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_processed_encounters_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_processed_procedures",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_procedures",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_processed_procedures_sql_copy1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_processed_procedures",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_procedures",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_transform_Payers')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "payersSource",
								"type": "DatasetReference"
							},
							"name": "payersSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "transformedPayer",
								"type": "DatasetReference"
							},
							"name": "ProcessedPayerID"
						}
					],
					"transformations": [
						{
							"name": "payerID"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Id as string,",
						"          NAME as string,",
						"          ADDRESS as string,",
						"          CITY as string,",
						"          STATE_HEADQUARTERED as string,",
						"          ZIP as integer,",
						"          PHONE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> payersSource",
						"payersSource select(mapColumn(",
						"          Payer_ID = Id,",
						"          NAME,",
						"          ADDRESS,",
						"          CITY,",
						"          STATE_HEADQUARTERED,",
						"          ZIP,",
						"          PHONE",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> payerID",
						"payerID sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ProcessedPayerID"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/transformedPayer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_transform_patients')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PatientSource",
								"type": "DatasetReference"
							},
							"name": "patientsSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "processedPatients",
								"type": "DatasetReference"
							},
							"name": "sinkPatient"
						}
					],
					"transformations": [
						{
							"name": "maskColumn"
						},
						{
							"name": "selectColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Id as string,",
						"          BIRTHDATE as date,",
						"          DEATHDATE as date,",
						"          PREFIX as string,",
						"          FIRST as string,",
						"          LAST as string,",
						"          SUFFIX as string,",
						"          MAIDEN as string,",
						"          MARITAL as string,",
						"          RACE as string,",
						"          ETHNICITY as string,",
						"          GENDER as string,",
						"          BIRTHPLACE as string,",
						"          ADDRESS as string,",
						"          CITY as string,",
						"          STATE as string,",
						"          COUNTY as string,",
						"          ZIP as short,",
						"          LAT as double,",
						"          LON as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> patientsSource",
						"patientsSource derive(Id = sha2(250, Id),",
						"          BIRTHDATE = toString(year(BIRTHDATE)),",
						"          BIRTHPLACE = '...'+substring(BIRTHPLACE, -2, 2),",
						"          ADDRESS = left(ADDRESS, 3)+'...') ~> maskColumn",
						"maskColumn select(mapColumn(",
						"          Id,",
						"          BIRTHDATE,",
						"          DEATHDATE,",
						"          PREFIX,",
						"          FIRST,",
						"          LAST,",
						"          SUFFIX,",
						"          MAIDEN,",
						"          MARITAL,",
						"          RACE,",
						"          ETHNICITY,",
						"          GENDER,",
						"          BIRTHPLACE,",
						"          ADDRESS,",
						"          CITY,",
						"          STATE,",
						"          COUNTY,",
						"          ZIP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectColumns",
						"selectColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkPatient"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_transform_procedures')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							},
							"name": "Procedures"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_processed_procedures",
								"type": "DatasetReference"
							},
							"name": "ProceduresSink"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "Durationcolumn"
						}
					],
					"scriptLines": [
						"source(output(",
						"          START as timestamp 'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'',",
						"          STOP as timestamp 'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'',",
						"          PATIENT as string,",
						"          ENCOUNTER as string,",
						"          CODE as long,",
						"          DESCRIPTION as string,",
						"          BASE_COST as integer,",
						"          REASONCODE as long,",
						"          REASONDESCRIPTION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 100,",
						"     ignoreNoFilesFound: false) ~> Procedures",
						"Procedures split(STOP>START,",
						"     disjoint: false) ~> split1@(validrows, invalidrows)",
						"split1@validrows derive(Duration = round((STOP-START)/(1000*60),2)) ~> Durationcolumn",
						"Durationcolumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ProceduresSink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_transform_encounter')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsEncounter",
								"type": "DatasetReference"
							},
							"name": "encountersSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_processesed_encounter",
								"type": "DatasetReference"
							},
							"name": "sinkEncounters"
						}
					],
					"transformations": [
						{
							"name": "addOver24HoursColumn"
						},
						{
							"name": "sortPatient"
						},
						{
							"name": "getPreviousStart"
						},
						{
							"name": "addDaysBetweenReadmissionColumn"
						},
						{
							"name": "addReadmissionWithin30DaysColumn"
						},
						{
							"name": "selectColumnsForSink"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Id as string,",
						"          START as timestamp 'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'',",
						"          STOP as timestamp 'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'',",
						"          PATIENT as string,",
						"          ORGANIZATION as string,",
						"          PAYER as string,",
						"          ENCOUNTERCLASS as string,",
						"          CODE as integer,",
						"          DESCRIPTION as string,",
						"          BASE_ENCOUNTER_COST as double,",
						"          TOTAL_CLAIM_COST as double,",
						"          PAYER_COVERAGE as double,",
						"          REASONCODE as long,",
						"          REASONDESCRIPTION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> encountersSource",
						"encountersSource derive({OVER 24 HOURS} = iif((STOP-START)/(1000*60*24) >= 1,1, 0)) ~> addOver24HoursColumn",
						"addOver24HoursColumn sort(asc(PATIENT, true),",
						"     asc(START, true)) ~> sortPatient",
						"sortPatient window(over(PATIENT),",
						"     asc(START, true),",
						"     Previous_start = lag(START, 1, null())) ~> getPreviousStart",
						"getPreviousStart derive(Days_between_readmission = round((START-Previous_start)/(1000*60*24),2)) ~> addDaysBetweenReadmissionColumn",
						"addDaysBetweenReadmissionColumn derive(Readmission_30Days = iif(Days_between_readmission > 1 && Days_between_readmission <=30, 1, 0)) ~> addReadmissionWithin30DaysColumn",
						"addReadmissionWithin30DaysColumn select(mapColumn(",
						"          Id,",
						"          START,",
						"          STOP,",
						"          PATIENT,",
						"          ORGANIZATION,",
						"          PAYER,",
						"          ENCOUNTERCLASS,",
						"          CODE,",
						"          DESCRIPTION,",
						"          BASE_ENCOUNTER_COST,",
						"          TOTAL_CLAIM_COST,",
						"          PAYER_COVERAGE,",
						"          REASONCODE,",
						"          REASONDESCRIPTION,",
						"          {OVER 24 HOURS},",
						"          Days_between_readmission,",
						"          Readmission_30Days",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectColumnsForSink",
						"selectColumnsForSink sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkEncounters"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_tranformations_of_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transformed_procedures",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_transform_procedures",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Procedures": {},
									"ProceduresSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					},
					{
						"name": "transformed_patients",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "transformed_procedures",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_transform_patients",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"patientsSource": {},
									"sinkPatient": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					},
					{
						"name": "transformed_payers",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "transformed_patients",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_transform_Payers",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"payersSource": {},
									"ProcessedPayerID": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					},
					{
						"name": "transformed_encounters",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "transformed_payers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ds_transform_encounter",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"encountersSource": {},
									"sinkEncounters": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Transformed"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-21T21:32:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow_transform_procedures')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_transform_patients')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_transform_Payers')]",
				"[concat(variables('factoryId'), '/dataflows/ds_transform_encounter')]"
			]
		}
	]
}