101-hospital-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "101-hospital-adf"
		},
		"ls_adls_dl_hospital_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_dl_hospital'"
		},
		"ls_sqldb_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sqldb'"
		},
		"ls_adls_dl_hospital_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://101datalakehospital.dfs.core.windows.net/"
		},
		"ls_http_github_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://github.com"
		},
		"ls_sqldb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "101-hospital-server.database.windows.net"
		},
		"ls_sqldb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "101-hospital-database"
		},
		"ls_sqldb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "hospitaladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Procedures data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_http_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Patients data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Procedures data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_http_patients",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_patients",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Payers data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Patients data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_http_payers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_payers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Encounters data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Payers data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_http_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-21T20:00:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_http_encounters')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_encounters')]",
				"[concat(variables('factoryId'), '/datasets/ds_http_patients')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_patients')]",
				"[concat(variables('factoryId'), '/datasets/ds_http_payers')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_payers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sql_procedures')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_processed_encounters_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_processesed_encounter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_encounters",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_processed_procedures_sql_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_processed_encounters_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_processed_procedures",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_procedures",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_processed_patient_sql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_processed_procedures_sql_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "processedPatients",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_patients",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_processed_payers_sql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_processed_patient_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "transformedPayer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sql_payers_copy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_processesed_encounter')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_encounters')]",
				"[concat(variables('factoryId'), '/datasets/ds_processed_procedures')]",
				"[concat(variables('factoryId'), '/datasets/sql_procedures')]",
				"[concat(variables('factoryId'), '/datasets/processedPatients')]",
				"[concat(variables('factoryId'), '/datasets/sql_patients')]",
				"[concat(variables('factoryId'), '/datasets/transformedPayer')]",
				"[concat(variables('factoryId'), '/datasets/sql_payers_copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_tranformations_of_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transformed_procedures",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_transform_procedures",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Procedures": {},
									"ProceduresSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					},
					{
						"name": "transformed_patients",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "transformed_procedures",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_transform_patients",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"patientsSource": {},
									"sinkPatient": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					},
					{
						"name": "transformed_payers",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "transformed_patients",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_transform_Payers",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"payersSource": {},
									"ProcessedPayerID": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					},
					{
						"name": "transformed_encounters",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "transformed_payers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ds_transform_encounter",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"encountersSource": {},
									"sinkEncounters": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Transformed"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-21T21:32:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow_transform_procedures')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_transform_patients')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_transform_Payers')]",
				"[concat(variables('factoryId'), '/dataflows/ds_transform_encounter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "procedures.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PatientSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "patients.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsEncounter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "encounters.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_http_encounters')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_http_github",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "snowydata-sarthak/Hospital-Patient-Records/main/data/encounters.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_http_github')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_http_patients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_http_github",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "https://github.com/snowydata-sarthak/Hospital-Patient-Records/main/data/patients.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_http_github')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_http_payers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_http_github",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "snowydata-sarthak/Hospital-Patient-Records/main/data/payers.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_http_github')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_http_procedures')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_http_github",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "snowydata-sarthak/Hospital-Patient-Records/refs/heads/main/data/procedures.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_http_github')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processed_procedures')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "processed"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "procdures",
						"fileSystem": "processed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processesed_encounter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "encounters.csv",
						"fileSystem": "processed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_encounters')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "encounters.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_patients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "patients.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_payers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "payers.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_procedures')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "procedures.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_encounters')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "char"
					},
					{
						"name": "START",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "STOP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PATIENT",
						"type": "char"
					},
					{
						"name": "ORGANIZATION",
						"type": "char"
					},
					{
						"name": "PAYER",
						"type": "char"
					},
					{
						"name": "ENCOUNTERCLASS",
						"type": "varchar"
					},
					{
						"name": "CODE",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "BASE_ENCOUNTER_COST",
						"type": "real",
						"precision": 7
					},
					{
						"name": "TOTAL_CLAIM_COST",
						"type": "real",
						"precision": 7
					},
					{
						"name": "PAYER_COVERAGE",
						"type": "real",
						"precision": 7
					},
					{
						"name": "REASONCODE",
						"type": "varchar"
					},
					{
						"name": "REASONDESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "OVER_24_HOURS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DAYS_BETWEEN_READMISSION",
						"type": "float",
						"precision": 15
					},
					{
						"name": "READMISSION_30DAYS",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "hospital_admissions",
					"table": "encounters"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/payersSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "payers.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/processedPatients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Processed_patients.csv",
						"fileSystem": "processed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_patients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "varchar"
					},
					{
						"name": "BIRTHDATE",
						"type": "char"
					},
					{
						"name": "DEATHDATE",
						"type": "date"
					},
					{
						"name": "PREFIX",
						"type": "varchar"
					},
					{
						"name": "FIRST",
						"type": "varchar"
					},
					{
						"name": "LAST",
						"type": "varchar"
					},
					{
						"name": "SUFFIX",
						"type": "varchar"
					},
					{
						"name": "MAIDEN",
						"type": "varchar"
					},
					{
						"name": "MARITAL",
						"type": "char"
					},
					{
						"name": "RACE",
						"type": "varchar"
					},
					{
						"name": "ETHNICITY",
						"type": "varchar"
					},
					{
						"name": "GENDER",
						"type": "char"
					},
					{
						"name": "BIRTHPLACE",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "ZIP",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "hospital_admissions",
					"table": "patients"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_payers_copy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PAYER_ID",
						"type": "char"
					},
					{
						"name": "NAME",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE_HEADQUARTERED",
						"type": "char"
					},
					{
						"name": "ZIP",
						"type": "varchar"
					},
					{
						"name": "PHONE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "hospital_admissions",
					"table": "payers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_procedures')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "hospital_admissions",
					"table": "procedures"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transformedPayer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dl_hospital",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "processed_payer.csv",
						"fileSystem": "processed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_dl_hospital')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_dl_hospital')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_dl_hospital_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_dl_hospital_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_http_github')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_http_github_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqldb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sqldb_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqldb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sqldb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sqldb_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_transform_Payers')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "payersSource",
								"type": "DatasetReference"
							},
							"name": "payersSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "transformedPayer",
								"type": "DatasetReference"
							},
							"name": "ProcessedPayerID"
						}
					],
					"transformations": [
						{
							"name": "payerID"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Id as string,",
						"          NAME as string,",
						"          ADDRESS as string,",
						"          CITY as string,",
						"          STATE_HEADQUARTERED as string,",
						"          ZIP as integer,",
						"          PHONE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> payersSource",
						"payersSource select(mapColumn(",
						"          Payer_ID = Id,",
						"          NAME,",
						"          ADDRESS,",
						"          CITY,",
						"          STATE_HEADQUARTERED,",
						"          ZIP,",
						"          PHONE",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> payerID",
						"payerID sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ProcessedPayerID"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/payersSource')]",
				"[concat(variables('factoryId'), '/datasets/transformedPayer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_transform_patients')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PatientSource",
								"type": "DatasetReference"
							},
							"name": "patientsSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "processedPatients",
								"type": "DatasetReference"
							},
							"name": "sinkPatient"
						}
					],
					"transformations": [
						{
							"name": "maskColumn"
						},
						{
							"name": "selectColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Id as string,",
						"          BIRTHDATE as date,",
						"          DEATHDATE as date,",
						"          PREFIX as string,",
						"          FIRST as string,",
						"          LAST as string,",
						"          SUFFIX as string,",
						"          MAIDEN as string,",
						"          MARITAL as string,",
						"          RACE as string,",
						"          ETHNICITY as string,",
						"          GENDER as string,",
						"          BIRTHPLACE as string,",
						"          ADDRESS as string,",
						"          CITY as string,",
						"          STATE as string,",
						"          COUNTY as string,",
						"          ZIP as short,",
						"          LAT as double,",
						"          LON as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> patientsSource",
						"patientsSource derive(Id = sha2(250, Id),",
						"          BIRTHDATE = toString(year(BIRTHDATE)),",
						"          BIRTHPLACE = '...'+substring(BIRTHPLACE, -2, 2),",
						"          ADDRESS = left(ADDRESS, 3)+'...') ~> maskColumn",
						"maskColumn select(mapColumn(",
						"          Id,",
						"          BIRTHDATE,",
						"          DEATHDATE,",
						"          PREFIX,",
						"          FIRST,",
						"          LAST,",
						"          SUFFIX,",
						"          MAIDEN,",
						"          MARITAL,",
						"          RACE,",
						"          ETHNICITY,",
						"          GENDER,",
						"          BIRTHPLACE,",
						"          ADDRESS,",
						"          CITY,",
						"          STATE,",
						"          COUNTY,",
						"          ZIP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectColumns",
						"selectColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkPatient"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PatientSource')]",
				"[concat(variables('factoryId'), '/datasets/processedPatients')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_transform_procedures')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							},
							"name": "Procedures"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_processed_procedures",
								"type": "DatasetReference"
							},
							"name": "ProceduresSink"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "Durationcolumn"
						}
					],
					"scriptLines": [
						"source(output(",
						"          START as timestamp 'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'',",
						"          STOP as timestamp 'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'',",
						"          PATIENT as string,",
						"          ENCOUNTER as string,",
						"          CODE as long,",
						"          DESCRIPTION as string,",
						"          BASE_COST as integer,",
						"          REASONCODE as long,",
						"          REASONDESCRIPTION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 100,",
						"     ignoreNoFilesFound: false) ~> Procedures",
						"Procedures split(STOP>START,",
						"     disjoint: false) ~> split1@(validrows, invalidrows)",
						"split1@validrows derive(Duration = round((STOP-START)/(1000*60),2)) ~> Durationcolumn",
						"Durationcolumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ProceduresSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/ds_processed_procedures')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_transform_encounter')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsEncounter",
								"type": "DatasetReference"
							},
							"name": "encountersSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_processesed_encounter",
								"type": "DatasetReference"
							},
							"name": "sinkEncounters"
						}
					],
					"transformations": [
						{
							"name": "addOver24HoursColumn"
						},
						{
							"name": "sortPatient"
						},
						{
							"name": "getPreviousStart"
						},
						{
							"name": "addDaysBetweenReadmissionColumn"
						},
						{
							"name": "addReadmissionWithin30DaysColumn"
						},
						{
							"name": "selectColumnsForSink"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Id as string,",
						"          START as timestamp 'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'',",
						"          STOP as timestamp 'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'',",
						"          PATIENT as string,",
						"          ORGANIZATION as string,",
						"          PAYER as string,",
						"          ENCOUNTERCLASS as string,",
						"          CODE as integer,",
						"          DESCRIPTION as string,",
						"          BASE_ENCOUNTER_COST as double,",
						"          TOTAL_CLAIM_COST as double,",
						"          PAYER_COVERAGE as double,",
						"          REASONCODE as long,",
						"          REASONDESCRIPTION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> encountersSource",
						"encountersSource derive({OVER 24 HOURS} = iif((STOP-START)/(1000*60*24) >= 1,1, 0)) ~> addOver24HoursColumn",
						"addOver24HoursColumn sort(asc(PATIENT, true),",
						"     asc(START, true)) ~> sortPatient",
						"sortPatient window(over(PATIENT),",
						"     asc(START, true),",
						"     Previous_start = lag(START, 1, null())) ~> getPreviousStart",
						"getPreviousStart derive(Days_between_readmission = round((START-Previous_start)/(1000*60*24),2)) ~> addDaysBetweenReadmissionColumn",
						"addDaysBetweenReadmissionColumn derive(Readmission_30Days = iif(Days_between_readmission > 1 && Days_between_readmission <=30, 1, 0)) ~> addReadmissionWithin30DaysColumn",
						"addReadmissionWithin30DaysColumn select(mapColumn(",
						"          Id,",
						"          START,",
						"          STOP,",
						"          PATIENT,",
						"          ORGANIZATION,",
						"          PAYER,",
						"          ENCOUNTERCLASS,",
						"          CODE,",
						"          DESCRIPTION,",
						"          BASE_ENCOUNTER_COST,",
						"          TOTAL_CLAIM_COST,",
						"          PAYER_COVERAGE,",
						"          REASONCODE,",
						"          REASONDESCRIPTION,",
						"          {OVER 24 HOURS},",
						"          Days_between_readmission,",
						"          Readmission_30Days",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectColumnsForSink",
						"selectColumnsForSink sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkEncounters"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsEncounter')]",
				"[concat(variables('factoryId'), '/datasets/ds_processesed_encounter')]"
			]
		}
	]
}